# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf
*.png   -text
*.jpg   -text
*.jpeg   -text
*.gif   -text
*.bin   -text
*.dll   -text
*.exe   -text
*.wps   -text
*.doc   -text
*.docx   -text
*.xls   -text
*.xlsx   -text
*.ppt   -text
*.pptx   -text
*.zip   -text
*.rar   -text
*.tar.gz   -text
*.7z   -text
*.pdf   -text
*.ttf   -text
*.ttc   -text
*.eot   -text
*.woff   -text
*.woff2   -text
*.mp3   -text
*.mp4   -text
*.webm   -text
*.flv   -text
*.swf   -text
*.ico   -text
*.woff   -text
*.otf   -text
*.z   -text
*.bz   -text
*.tar   -text
*.phar   -text
*.bat   -text
*.csv   -text
*.pyc   -text

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc    diff=astextplain
*.DOC    diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF    diff=astextplain
*.rtf    diff=astextplain
*.RTF    diff=astextplain

