html{overflow-y:scroll}
html,body{font-family:"microsoft YaHei",sans-serif;}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.fn-hide{display:none}
html{color:#474230;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
input,select,textarea
{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a{
    color: #ff8f5c;
}
a:hover{color: #ff8f5c;text-decoration: none;}
ins,a{text-decoration:none}
.f-s{
    font-size: 1rem;
}
.f-m{
    font-size: 1.2rem;
}
.f-l{
    font-size: 1.4rem;
}
.wimg{
    max-width:100%;
    font-size: 0px;
    display: block;
    margin: 0 auto;
}
::-webkit-input-placeholder{
    color: #ccc;
    font-family:"microsoft YaHei";
    font-size: .7rem;
}
::-webkit-scrollbar{width:0px;}
::-webkit-scrollbar:horizontal{height:0px;}
::-webkit-scrollbar-track{border-radius: 0px;}
::-webkit-scrollbar-track-piece{background-color: #f1e3ba;}
::-webkit-scrollbar-thumb {width:10px;background: #d3c394;}
::-webkit-scrollbar-thumb:hover{background: #b7a675;}
body{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    background-color: #eeeeee;
    color: #5d5d5d;
}
html {
    font-size : 20px;
    height: 100%;
    background-color: #eee;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important;; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important;; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important;;
    }
}
.wrap{
    font-size: .8rem;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.ico{
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.ico-jiachang{background-image: url('../images/ico/ico-jiachang.png');width: 2.2rem; height: 2.2rem;}
.ico-xiaochao{background-image: url('../images/ico/ico-xiaochao.png');width: 2.2rem; height: 2.2rem;}
.ico-liangcai{background-image: url('../images/ico/ico-liangcai.png');width: 2.2rem; height: 2.2rem;}
.ico-hongpei{background-image: url('../images/ico/ico-hongpei.png');width: 2.2rem; height: 2.2rem;}
.ico-yunfu{background-image: url('../images/ico/ico-yunfu.png');width: 2.2rem; height: 2.2rem;}
.ico-meirong{background-image: url('../images/ico/ico-meirong.png');width: 2.2rem; height: 2.2rem;}
.ico-ertong{background-image: url('../images/ico/ico-ertong.png');width: 2.2rem; height: 2.2rem;}
.ico-all{background-image: url('../images/ico/ico-all.png');width: 2.2rem; height: 2.2rem;}
.ico-search{background-image: url('../images/ico/ico-search.png');width: .85rem; height: .85rem;}
.ico-clear{background-image: url('../images/ico/ico-clear.png');width: .85rem; height: .85rem;}
.ico-search-max{background-image: url('../images/ico/ico-search-max.png');width: 2.5rem; height: 2.5rem;}

.md{
    background-color: #fff;
    margin-top: .4rem;
    padding: 0.5rem .5rem;
    -webkit-box-shadow: 0px 0px 1px #ccc;
    box-shadow: 0px 0px 1px #ccc;
}
.hidden{
    display: none;
}
/************************以上通用***************************/
.catalog-md {
    padding: .3rem .4rem;
}
.catalog-md li{
    margin: .3rem 0;
    float: left;
    width: 25%;
    text-align: center;
}
.catalog-md li a{
    font-size: .6rem;
    color: #7c7c7c;
    display: block;
}
.catalog-md li span{
    margin-top: 0.2rem;
    display: block;
}
.catalog-md .img{
    width: 2.2rem;
    height: 2.2rem;
   /* border-radius: 1.1rem;*/
}
.catalog-md li .img{
    -webkit-animation: animation1 .9s;
}
@-webkit-keyframes animation1
{
    0%   {
        -webkit-transform: scale(0.2);
    }
    90%   {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
.index-md{
    min-height: 2.5rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.index-md .hd{
    line-height: 1rem;
    overflow: hidden;
    height: 1rem;
}
.index-md .hd .more{
    float: right;
    font-size: 0.7rem;
    color: #7c7c7c;
}
.index-md .hd h5,.index-md .hd h4{
    line-height: 1rem;
    height: 1rem;
    color: #ff7b3f;
    font-size: 0.8rem;
    vertical-align: top;
}
.index-md .hd h4{
    font-size: .9rem;
}
.index-md .hd .line{
    margin-top: 0.1rem;
    display: inline-block;
    border-radius: 0.075rem 0.075rem 0.075rem 0.075rem;
    width: 0.15rem;
    height: .8rem;
    background-color: #ff7b3f;
    vertical-align: top;
}
.ico-more{
    margin-top: 0.2rem;
    margin-left: 0.1rem;
    width: .65rem;
    height: .65rem;
    background-image: url('../images/ico/ico-more.png') ;
    vertical-align: top;
}
.index-hot-list li a{
    margin-top: .5rem;
    position: relative;
    display: block;
}
.index-hot-list li .bar{
    position: absolute;
    bottom: .5rem;
    left:.5rem;
    right:2.4rem;
    z-index:4;
}
.index-hot-list li span{
    display: block;
}
.index-hot-list li .title{
    color: #fff;
    font-size: .7rem;
}
.index-hot-list li .sub-title{
    color: #fbedd2;
    font-size: .6rem;
}
.ico-play{
    width: 1.2rem;
    height: 1.2rem;
   background-image: url('../images/ico/ico-play.png') ;
}
.ico-play-video{
    width: 2.5rem;
    height: 2.5rem;
   background-image: url('../images/ico/ico-play-video.png') ;
}
.index-hot-list li .ico-play{
    position: absolute;
    right:0.8rem;
    bottom:.8rem;
    z-index:4;
}
.index-hot-list li img{
    border-radius: 4px;
    min-height: 2.5rem;
}
.index-hot-list .item .bg{
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    position: absolute;
    height: 3rem;
    overflow: hidden;
    width: 100%;
    bottom:0;
    z-index:3;
    border-radius: 0 0 4px 4px;
}
.banner{
    min-height: 4rem;
}
.index-new-list{
    margin-top: 0.5rem;
    overflow: hidden;
}
.index-new-list .item{
    width: 50%;
    float: left;
}
.index-new-list .item a{
    display: block;
    position: relative;
}
.index-new-list .item:nth-child(1) a{
    margin-right: 0.15rem;
}
.index-new-list .item:nth-child(2) a{
    margin-left: 0.15rem;
}
.index-new-list .item img{
    border-radius: 4px;
}
.index-new-list .item .bar{
    position: absolute;
    bottom: .2rem;
    left:.4rem;
    right:1.4rem;
    z-index:4;
}
.index-new-list .item span{
    display: block;
}
.index-new-list .item .title{
    color: #fff;
    font-size: .6rem;
}
.index-new-list .item .sub-title{
    color: #fbedd2;
    font-size: .5rem;
    height: .7rem;
    line-height: .7rem;
    overflow: hidden;
}
.index-new-list .item .ico-play{
    position: absolute;
    right:0.3rem;
    bottom:.8rem;
    z-index:4;
    width: 1rem;
    height: 1rem;
}
.index-new-list .item img{
    min-height: 2.5rem;
}
.index-new-list .item .bg{
    /*background: url('../images/bg-shadow.png') repeat-x left 2px;*/
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    position: absolute;
    height: 2rem;
    width: 100%;
    bottom:0;
    z-index:3;
    border-radius: 0 0 4px 4px;
}
.index-level-list li{
    width: 33.3333%;
    float: left;
    color: #a3a3a3;
}
.index-level-list li a{
    display: block;
    color: #a3a3a3;
    position: relative;
}
.index-level-list li img{
   border-radius:4px;  
    min-height: 2.5rem;
}
.index-level-list li .img{
    position: relative;
}
.index-level-list .ico-play{
    position: absolute;
    right:0.2rem;
    bottom:.35rem;
    z-index:4;
    width: 1rem;
    height: 1rem;
}
.index-level-list .bg{
    /*background: url('../images/bg-shadow2.png') repeat-x left 2px;*/
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    position: absolute;
    height: 1.8rem;
    width: 100%;
    bottom:0;
    z-index:3;
    border-radius: 0 0 4px 4px;
}
.index-level-list .decorate{
   /* background: url('../images/ico/bg-decorate.png') repeat-x left top;*/
    position: absolute;
    /*height: 4px;*/
    width: 100%;
    bottom:0;
    z-index:4;
}
.index-level-list span{
    padding: 0.05rem 0.3rem;
    display: block;
}
.index-level-list .title{
    margin-top: 0.2rem;
    color: #f18336;
    font-size: 0.55rem;
    color: #f2682a;
}
.index-level-list li:nth-child(2) .title{
    color: #74c783;
}
.index-level-list li:nth-child(3) .title{
    color: #51493e;
}
.index-level-list .sub-title{
    font-size: 0.5rem;
    height: 0.8rem;
    line-height: .8rem;
    overflow: hidden;
}
.index-level-list .bar{
    font-size: 0.5rem;
    line-height: .6rem;
    height: 0.6rem;
    vertical-align: middle;
    font-family:Arial;
}
.index-level-list .bar .ico{
    margin-top: 0.05rem;
}
.index-level-list ul{
    margin-top: 0.4rem;
}
.index-level-list .ico-play-min{
    margin-left: 0.2rem;
}
.index-level-list li:nth-child(1) a{
    margin-right: 0.2rem;
}
.index-level-list li:nth-child(2) a{
    margin: 0rem 0.1rem;
}
.index-level-list li:nth-child(3) a{
    margin-left: 0.2rem;
}
.ico-like{
    background-image: url('../images/ico/ico-like.png');width: 0.5rem; height: 0.5rem;
    vertical-align: top;
}
.ico-play-min{
    background-image: url('../images/ico/ico-play-min.png');width: 0.5rem; height: 0.5rem;
    vertical-align: top;
}
.img-md{
    margin-top: 0.4rem;
}
.index-theme-list .item{
    margin-top: 0.4rem;
    margin-bottom: .8rem;
}
.index-theme-list img{
    border-radius:4px;
}
.index-theme-list span{
    display: block;
}
.index-theme-list .title{
    margin-top: .2rem;
    margin-bottom: .2rem;
    color: #515151;
    font-size: 0.8rem;
}
.index-theme-list .sub-title{
    color: #a3a3a3;
    font-size: 0.6rem;
}
.footer{
    height: 0.5rem;
}

.page-hot-list li a{
    margin-top: 0rem;
}
.header{
    /*background-color: #ff8f5c;*/
    background-color: #fff;
    height: 2.2rem;
    line-height: 2.2rem;
    position: fixed;
    width: 100%;
    left:0;
    top:0;
    z-index:10000;
    border-bottom:1px solid #f2f2f2;
}
.header-gap{
    height: 2.2rem;
}
.header-wrap{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    /*color: #fff;*/
    color: #333;
    font-size: 0.8rem;
    position: relative;
}
.nav-header{
    margin: 0rem auto;
    height: 2.2rem;
    width: 8.6rem;
    display: inline-block;
    text-align: center;
}
.nav-header li{
    margin: 0 0.3rem;
    float: left;
    line-height: 2.1rem;
    height: 2.1rem;
 /*   border-bottom: 0.1rem solid #ff8f5c;*/
    border-bottom: 0.1rem solid #fff;
    width: 3.7rem;
}
.nav-header a{
   /* color: #fff;*/
    color: #333;
    font-size: .8rem;
}
.nav-header li.active{
    /*border-bottom: 0.1rem solid #fff;*/
    border-bottom: 0.1rem solid #ff8f5c;
}
.header .ico {vertical-align: top;}

.ico-back{
    background-image: url('../images/ico/ico-back.png');/*width: 1rem; height:1rem;*/
    margin-right: 0.09rem;
    vertical-align: top;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: 0.4rem;
}

.ico-back-black{
    background-image: url('../images/ico/ico-back-black.png');/*width: 1rem; height:1rem;*/
    margin-right: 0.09rem;
    vertical-align: top;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: 0.4rem;
}
.header-wrap .left{
    position: absolute;
    left:0;
    top:0;
}
.header-ico{
    display: block;
    height: 2.2rem;
    line-height: 2.1rem;
    width: 1.6rem;
    text-align: center;
}
.page-catalog-md dl,.page-catalog-md .dl{
    margin-top: 0.4rem;
    background-color: #fff;
}
.page-catalog-md .dl{
    padding: 0.2rem 0.4rem 0.6rem;
}
.page-catalog-md .dl .ul-2 li{
    border: 1px solid #ffb594;
}
.page-catalog-md .dl .ul-1 li{
    border: 1px solid #fee763;
}
.page-catalog-md dt{
    padding: 0.5rem .8rem .4rem;
    font-size: 0.8rem;
    line-height: 1rem;
    height: 1rem;
    color: #362e2b;
    border-bottom: 1px solid #e1e1e1;
}
.page-catalog-md li a{
    margin: 0 0.25rem;
    padding:0.25rem 0;
    border-radius: .15rem;
    border: 1px solid #ff8f5c;
    color: #ababab;
    font-size: 0.6rem;
    height: 1rem;
    line-height: 1rem;
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*.page-catalog-md dl:nth-child(odd) li.check-all,.page-catalog-md dl:nth-child(even) li.check-all{
    background-color: #ff8f5c;
    border: 1px solid #ff8f5c;
    font-size: 0.5rem;
}*/

.page-catalog-md dl:nth-child(odd) li.check-all a,.page-catalog-md dl:nth-child(even) li.check-all a{
    background-color: #ff8f5c;
    border: 1px solid #ff8f5c;
    font-size: 0.6rem;
}

.page-catalog-md li.check-all a{
    color: #fff;
    font-size: 0.5rem;
}
.page-catalog-md li {
    margin-top: 0.4rem;
    /*margin-left: 0.4rem;
    margin-right: 0.1rem;*/
    float: left;
   /* border: 1px solid #ffb594;*/
    border-radius: .15rem;
    width:25%;
}
.page-catalog-md dd{
    padding: 0.2rem 0.4rem 0.6rem;
}
/*.page-catalog-md dl:nth-child(even) li{
    border: 1px solid #74c783;
}*/

.page-catalog-md dl:nth-child(even) li a{
    border: 1px solid #74c783;
}
.cotalog-second{
   
}
.nav-left-fixed{
    position: absolute;
    height: 100%;
    overflow: auto;
    left:0;
    width: 5rem;
    padding-bottom: 4rem;
    top:0;
    z-index:2;
}
.nav-left-fixed ul{
    padding-top: 2.2rem;
}
.nav-left-fixed li{
    overflow: hidden;
}
.nav-left-fixed .line{
    float: left;
    width: 0.8rem;
}
.nav-left-fixed a{
    padding:1.1rem 0 0 .4rem;
    float: left;
    color: #9d9d9d;
    font-size: 0.6rem;
    display: block;
    overflow: hidden;
    height: 1.5rem;
    line-height: 0.6rem;
    width: 3.8rem;
}
.nav-left-fixed a span{
    padding-top: 5px;
    display: block;
}
.nav-left-fixed li.active a{
    color: #ff8f5c;
}
.nav-left-fixed li.active a span{
    padding-top: 6px;
}
.nav-left-fixed .line span{
    margin-top: 0.5rem;
    margin-left: 0.4rem;
    display: block;
    height: 1px;
    overflow: hidden;
    font-size: 0rem;
    background-color: #ddd;
}
.nav-left-fixed .line span:nth-child(3){
    margin-left: 0rem;
}
.nav-left-fixed li.active  span:nth-child(3){
    background-color: #ff8f5c;
    height: 3px;
}
.cotalog-second{
    background-color: #fff;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.cotalog-second-list{
    position: absolute;
    z-index:3;
    height: 100%;
    top:0;
    left:5rem;
    right:0;
    overflow: auto;
}
.cotalog-second-list ul{
    padding: 2.2rem .4rem .4rem 0;
    padding-top: 2.2rem;
    padding-right: .4rem;
    padding-bottom: .4rem;
}
.cotalog-second-list li a{

}
.cotalog-second-list li .title{
    font-size: .6rem;
}
.cotalog-second-list li .sub-title{
    font-size: .5rem;
}
.cotalog-second-list li .bar{
    bottom:.4rem;
    left:.4rem;
}
.cotalog-second-list li .ico-play{
    right:.4rem;
    bottom:.4rem;
}

.header-back{
    background: rgba(0,0,0,0.5);
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    position: fixed;
    left:0.5rem;
    top:0.5rem;
    border-radius: 0.75rem;
    text-align: center;
    line-height: 1.5rem;
    z-index:3;
}
.header-back i{
    margin-top: 0.35rem;
    margin-right: 0.09rem;
    vertical-align: top;
    width: 0.8rem;
    height: .8rem;
}

.header-back-wy {
    z-index:10001;
}
.video-bar{/*
    position: absolute;
    bottom:.4rem;
    width: 100%;
     z-index:4;*/
    padding-top: .2rem;
    background-color: #bbb;
    padding-bottom: .5rem;
}
.video-show{
    overflow: hidden;
}
.video-img{
    position: absolute;
    top:50%;
    margin-top: -100px;
    width: 100%;
    vertical-align: middle;
}
.video-bg{
   /* background: url('../images/bg-shadow.png') repeat-x left top;
    position: absolute;
    height: 3.5rem;
    overflow: hidden;
    width: 100%;
    bottom:0;
    z-index:3;*/
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    position: absolute;
    height: 3.5rem;
    width: 100%;
    bottom:0;
    z-index:3;
}
.video-bar .box{
     display:-moz-box;
    display:-webkit-box;/*在父级元素上添加*/
    display:box;
}
.video-bar .cell{
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    width: 33%;
}

.video-bar a{
    font-size: 0.65rem;
    color: #5d5d5d;
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
}
.video-bar a.active{
    color: #f2682a;
}
.ico-play-list{
    background-image: url('../images/ico/ico-play-list.png');
    width: 0.7rem; 
    height: .7rem;
    vertical-align: top;
    margin-top: 0.16rem;
}
.ico-download{
    background-image: url('../images/ico/ico-download.png');
    width: 0.7rem; 
    height: 0.7rem;
    vertical-align: top;
    margin-top: 0.16rem;
}
.ico-cook-level{
    background-image: url('../images/ico/ico-cook-level.png');
    width: 0.85rem; 
    height: 0.85rem;
}
.ico-time{
    background-image: url('../images/ico/ico-time.png');
    width: 0.85rem; 
    height: 0.85rem;
}
.ico-taste{
    background-image: url('../images/ico/ico-taste.png');
    width: 0.85rem; 
    height: 0.85rem;
}
.ico-read{
    background-image: url('../images/ico/ico-read.png');
    width: 0.85rem; 
    height: 0.85rem;
}
.ico-delete{
    background-image: url('../images/ico/ico-delete.png');
    width: 0.55rem; 
    height: 0.55rem;
}

.goods-show{
    background-color: #fff;
    padding: 0.5rem 1rem;
}
.goods-desc h5{
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
    color: #5d5d5d;
    font-size: 0.75rem;
}
.goods-desc p{
    color: #909090;
    font-size: 0.6rem;
}
.goods-show-bar{
    padding: 0.5rem 0 .8rem;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
}
.goods-show-bar li{
    float: left;
    width: 33.3%;
    text-align: center;
    font-size: .55rem;
    color: #5d5d5d;
}
.goods-show-bar li span{
    margin-bottom: 0.3rem;
    display: block;
}
.goods-detail{
    margin-top: 0.4rem;
    border-top: 1px solid #e1e1e1;
    background-color: #fff;
}
.goods-hd{
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.hd-fixed{
    position: fixed;
    top:0;
    width: 100%;
    left:0;
    z-index:10;
}
.goods-hd .header-wrap{
    color: #5d5d5d;
}
.goods-hd li{
    padding: 0.7rem 0;
    float: left;
    width: 25%;
    border-bottom: .1rem solid #fff;
    background-color: #fff;
}
.goods-hd li a:last-child {
    border-right:0;
}
.goods-hd li.active{
    border-bottom: .1rem solid #f2682a;
}
.goods-hd li a{
    display: block;
    border-right: 1px solid #eee;
    font-size: .65rem;
    text-align: center;
    height: .65rem;
    line-height: .65rem;
    color: #5d5d5d;
}
.goods-hd li:nth-child(4) span{
    border-right: none;
}
.cook-step-md {
    padding: .2rem 1rem;
}
.cook-step-md li{
    padding: 0.6rem 0;
    font-size: 0.55rem;
}
.cook-step-md li .tips{
    margin-top: 0.3rem;
}
.cook-step-md li .num{
    color: #f2682a;
}
.material{
    background-color: #eee;
}
.material-md{
    padding: 0rem 1rem 1rem;
    background-color: #fff;
}
.material-md:nth-child(2){
    margin-top: 0.4rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.material-list{
    border-top: 1px solid #e1e1e1;
}
.material-list li{
    padding: 0.35rem 0.2rem;
    font-size: 0.6rem;
    border-bottom: 1px dashed #eee;
}
.material-list li span{
    float: right;
}
.sense-md,.suit-md{
    background-color: #eee;
}
.img-md{
    margin: 0.4rem auto 0;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fff;
}
.img-md .wimg{
    margin: 0rem auto;
}
.page-theme-list .item{
    margin-top: 0rem;
    margin-bottom: .3rem;
}
.sense-list li{
    margin-top: 0.4rem;
    padding: 0.6rem 1rem 1rem;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fff;
    color: #959595;
    font-size: 0.55rem;
    line-height: 160%;
}
.sense-list li h5{
    margin-bottom: 0.3rem;
    color: #362e2b;
    font-size: 0.65rem;
}
.suit-list li{
    margin-top: 0.4rem;
    padding: 0.5rem 1rem 0.5rem;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fff;
    color: #959595;
    font-size: 0.55rem;
    line-height: 160%;
}
.suit-list li h5{
    margin-bottom: 0.1rem;
    color: #362e2b;
    font-size: 0.65rem;
}
.suit-list li .hd{
    margin-bottom: 0.2rem;
    padding-left: 2.5rem;
    color: #362e2b;
    font-size: 0.55rem;
}
.suit-list li .green{
    color: #66cf38;
}
.suit-list li .red{
    color: #fd5c42;
}
.suit-list .rows{
    padding: 0.4rem 0;
    min-height: 2rem;
    padding-left: 2.5rem;
    border-bottom: 1px solid #e1e1e1;
}
.list .rows:nth-last-child(1){
    border-bottom: none;
}
.suit-list .rows img{
    width: 2rem;
    height: 2rem;
}
.suit-list .rows .img{
    display: inline-block;
    float: left;
    margin-left: -2.5rem;
}
.flavouring-list li{
    margin: 0.5rem auto;
    position: relative;
     width: 250px;
     min-height: 2rem;
}
.flavouring-list li .wimg{
    width: 250px;
}
.flavouring-list .bg{
    position: absolute;
    height: 1.8rem; 
    background: -webkit-linear-gradient(top, rgba(100, 100, 100, 0) 0%,rgba(100, 100, 100, 0) 20%,  rgba(80, 80, 80, .5) 100%);
    /*background: -o-linear-gradient(top, rgba(155, 155, 155, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    background: -moz-linear-gradient(top, rgba(155, 155, 155, 0) 0%, rgba(0, 0, 0, 0.5) 100%); */
    width: 100%;
    bottom:0;
}
.flavouring-list .txt{
    padding-left: 0.4rem;
    position: absolute;
    height: 1.2rem;
    line-height: 1.2rem;
    width: 100%;
    bottom:0;
    color: #fff;
    font-size: 0.55rem;
}
.reference-md{
    background-color: #fff;
    box-shadow: 0px 0px 1px #ccc;
    text-align: center;
}
.reference-md .img{
    position: relative;
}
.reference-md .decorate{
    /*background: url('../images/ico/bg-decorate.png') repeat-x left bottom;*/
    position: absolute;
    bottom:0;
    width: 100%;
    /*height: 4px;*/
}
.reference-md .avatar{
    margin: 0.5rem 0;
}
.reference-md .avatar img{
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    margin: 0rem auto;
    border-radius: 1.3rem;
    border: 1px solid #bfbfbf;
    margin-bottom: 0.3rem;
}
.reference-md .avatar{
    font-size: 0.65rem;
}
.reference-md .desc{
    text-align: left;
    font-size: 0.65rem;
    padding: .4rem .8rem .8rem;
    color: #909090;
}
.reference-md .bar{
    font-size: 0.6rem;
    line-height: 0.75rem;
    font-family: arial;
}
.reference-md .bar .ico{
    width: 0.75rem;
    height: 0.75rem;
    vertical-align: top;
}
.reference-md h4{
    padding: .8rem .8rem .8rem;
    font-size: 0.8rem;
}
.theme-detail{
    padding-top: .1rem;
    font-size: 0.7rem;
    background-color: #fff;
    box-shadow: 0px 0px 1px #ccc;
    margin-top: .4rem;
    overflow: hidden;
}
.page-material{
    font-size: 0.65rem;
    line-height: 160%;
    background-color: #eee;
    padding-top: .4rem;
}
.page-material .box{
    border-top: 1px solid #eee;
    padding: 0.5rem 0.8rem 0;
    background-color: #fff;
}
.page-material .wimg{
    margin-bottom: 0.4rem;
}
.ad-md{
    margin-top: 0.6rem;
}
.ad-md .wimg{
}
.material-detail{
    margin-top: 0rem;
}
.video-md .ico-play-video{
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -1.25rem;
    margin-top: -1.25rem;
}
.video-show{
    position: relative;
}
.page-relate-list{
    background-color: #eee;
    padding-top: 0.4rem;
}
.page-relate-list .box{
    padding: .2rem 0.6rem 0;
    background-color: #fff;
    border-top: 1px solid #eee;
}
.page-relate-list a{
    display: block;
    font-size: .55rem;
    color: #a3a3a3;
}
.page-relate-list li{
    border-bottom: 1px solid #e1e1e1;
    padding-left: 5.8rem;
    padding-bottom: .4rem;
    margin-top: .4rem;
    overflow: hidden;
}
.page-relate-list li:last-child {
    border-bottom:0;
}
.page-relate-list .loading-wrap{
    padding-left: 0rem;
    padding-bottom: 1rem;
}
.page-relate-list .img{
    margin-top: .05rem;
    width: 5.3rem;
    float: left;
    margin-left: -5.8rem;
}
.page-relate-list h6{
    font-size: 0.65rem;
    color: #50493e;
}
.page-relate-list h6 span,.page-relate-list .txt span{
    color: #ff8f5c;
}
.page-relate-list .bar{
    color: #5d5d5d;
}
.page-relate-list .bar .rows{
    height: .9rem;
    line-height: .9rem;
}
.page-relate-list .bar .ico{
    margin-top: 0.13rem;
    width: 0.7rem;
    height: 0.7rem;
    vertical-align: top;
}
.page-relate-list .line{
    margin: 0 .8em;
    height: 0.4rem;
    background-color: #bfbfbf;
    width: 1px;
    display: inline-block;
    vertical-align: top;
    margin-top: .3rem;
}
.page-relate-list .txt{
    margin: .2rem 0;
    overflow: hidden;
    height: .8rem;
    line-height: 0.8rem;
}
.page-relate-list .img{
    position: relative;
}
.page-relate-list .bg{
    /*background: url('../images/bg-shadow.png') repeat-x left 2px;*/
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    position: absolute;
    height: 2rem;
    width: 100%;
    bottom:0;
    z-index:3;
}
.page-relate-list .img .ico{
    position: absolute;
    bottom:.2rem;
    right:.2rem;
    z-index:5;
    width: 1rem;
    height: 1rem;
}
.fixed-footer-download{
    /*height: 2.5rem;
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    bottom:0;
    left:0;
    z-index:1000;*/
    background-color: #fff;
    padding: .2rem 0 .4rem;
}
.fixed-footer-download .wrap{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
.fixed-footer-download .logo{
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    width:1.7rem;
    height:1.7rem;
    display: inline-block;
    vertical-align: top;
}
.fixed-footer-download .txt{
    margin-left: .2rem;
    margin-top: .1rem;
    height: 1rem;
    line-height: 1rem;
    display: inline-block;
    vertical-align: top;
}
.fixed-footer-download .txt p{
    font-size: .45rem;
    color: #888;
    height: .8rem;
    line-height: .8rem;
}
.fixed-footer-download .download{
    display: inline-block;
    margin-right: .6rem;
    vertical-align: top;
    float: right;
}
.fixed-footer-download .download a{
    margin-top: .4rem;
    padding: 0 .6rem;
    background-color: #ff8f5c;
    display: inline-block;
    height: 1.3rem;
    line-height: 1.3rem;
    color: #fff;
    font-size: .6rem;
}
.fixed-footer-download h6{
    margin-top: .1rem;
    font-size: .7rem;
}
.fixed-footer-download .delete{
    margin-right: 0.6rem;
    margin-top: 0.5rem;
    float: right;
}











/**swiper**/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination-bullet{
    background-color: #d6b8b4;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #d46035;
}
.swiper-container-horizontal>.swiper-pagination{
    text-align: right;
    right:.2rem;
    bottom:0.2rem;
}
.loading{
    margin: .4rem .5rem;
    padding: 0 .6rem;
    text-align: center;
    background: #ddd;
    color: #666;
    font-size: .8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    border-radius: .8rem;
}
.header-search{
   /* margin: .3rem .6rem;*/
    margin:0 .6rem;
    padding: .1rem .5rem;
    height: 1.4rem;
    background-color: #fff;
    line-height: 1.4rem;
    border-radius: .1rem;
    vertical-align: top;
    text-align: left;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index:10;
}
.header-search-page{
    margin-right: 3rem;
}
.header-search .header-search-input{
    vertical-align: top;
    height: 1.4rem;
    line-height: 1.4rem;
    background: none;
    border: none;
    font-size: .8rem;
    position: absolute;
    right:0.2rem;
    left: 2rem;
    z-index:3;
    color: #ff8f5c;
}
.header-search .placeholder{
    vertical-align: top;
    height: 1.4rem;
    line-height: 1.4rem;
    background: none;
    border: none;
    font-size: .7rem;
    position: absolute;
    right:0.2rem;
    left: 2rem;
    z-index:3;
    color: #ccc;
    top:0.1rem;
}

.header-search .ico{
    margin-right: .1rem;
    margin-top: .3rem;
    vertical-align: top;
}
.header-search .line{
    width: 2px;
    height: 1rem;
    background-color: #ff8f5c;
    display: inline-block;
    vertical-align: top;
    margin-top: .2rem;
}
.video-md{
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.video-md .loading-wrap{
    height: 4rem;
    line-height: 4rem;
}
.goods-page{
    min-height: 10rem;
    background-color: #fff;
}

/*代甜 2015.11.19 搜索页头部样式*/
.md-search .search-wrap{padding:0.6rem 0.3rem;}/*首页搜索*/
.search-wrap {
    background-color: #e6e6e6;
    padding:0.3rem 0.3rem;
}
/*end*/

.search-btn{
    height: 1.6rem;
    width: 3rem;
    font-size: .9rem;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    right:0;
    background: none;
    top:0;
    border: none;
    font-family: "microsoft YaHei";
    margin:0.3rem 0;
}
.search-txt{
    font-size: .7rem;
    line-height: 2.2rem;
}
.search-txt span{
    padding: 0 .1rem;
    font-weight: bold;
    font-style:italic ;
}
.empty{
    padding: .5rem .6rem;
    font-size: .7rem;
    text-align: center;
}
.empty span{
    color: #ff8f5c;
}
.copyright{
    padding-bottom: .6rem;
    font-size: .5rem;
    text-align: center;
    color: #999;
}
.header-back-md{
    /*background-color: #ff8f5c;*/
    background-color: #fff;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    color: #333;
    border-bottom: 1px solid #d2d2d2;
    font-size: 0.7rem;
}
.back-ico{background: rgba(0,0,0,0.5);
    width: 1.5rem;
    height: 1.5rem;
    position: fixed;
    left: 0.5rem;
    bottom: 0.8rem;
    border-radius: 0.75rem;
    text-align: center;
    line-height: 1.5rem;
    z-index:11111111111111;
    display: none;
}
.ico-back-app {background-image: url('../images/ico/ico-back.png');margin-right: 0.09rem;vertical-align: top;vertical-align: top;
    margin-top: 0.35rem; width: 0.8rem; height: .8rem;
}
.header-back-md .left{
    position: absolute;
    left:0;
    top:0;
}
 .pos-rel {
     position: relative;;
}
.catalog-md li
.index-level-list li.loading-wrap,.catalog-md li.loading-wrap,.index-level-list li.loading-wrap{
    float: none;
    width: 100%;
    color: #999;
}
.theme-show .loading-wrap{
    background-color: #fff;
}
.loading-wrap{
    font-size: .6rem;
    text-align: center;
    padding: .3rem 0;
    color: #999;
    text-align: center;
    float: none;
    width: 100%;
}
.bg-white{
    background-color: #fff;
}
#load-stop{
    background: none;
}
.theme-show .reference-md{
   box-shadow:none;
}
.search-md{
    font-size: .7rem;
}
.search-md h6{
    margin-left: .3rem;
    font-size: .6rem;
}
.search-md li{
    float: left;
}
.search-md .list{
    margin-top: .2rem;
}
.search-md li a{
    margin: .3rem;
    display: block;
    padding: .2rem .6rem;
    border: 1px solid #bbb;
    color: #5d5d5d;
    border-radius: 3px;
}
.search-history-md li a{
    border: 1px solid #ff8f5c;
}
.search-keyword-md{
    background-color: #fff;
    padding: 0 .6rem;
}
.search-keyword-md li a,.search-keyword-md .a{
    padding: .4rem .4rem;
    font-size: .8rem;
    border-bottom: 1px solid #eee;
    display: block;
    color: #5d5d5d;
}
.search-keyword-md li:nth-last-child(1) a{
    border-bottom: none;
}
.search-keyword-md li a span,.search-keyword-md .a span{
    color: #ff8f5c;
}
.header-search .ico-clear{
    position: absolute;
    right:.25rem;
    top:.1rem;
}
.search-empty{
    background-color: #fff;
    padding: 4rem 0 6rem;
    text-align: center;
    font-size: .65rem;
    color: #d2d2d2;
}
.search-empty p{
    margin-top: .5rem;
}
.fixed-footer{
    position: fixed;
    bottom:0;
    width: 100%;
    left:0;
    z-index:1000;
}
.fixed-footer .fixed-footer-download{
    background: rgba(0,0,0,.4);
}
.footer-gap{
    height: 2rem;
}
.fixed-footer .fixed-footer-download h6{
    color: #fff;
}
.fixed-footer .fixed-footer-download .txt p{
    color: #eee;
}
.page-catalog-h5-md .item{
    margin: .2rem 0;
    float: left;
    width: 25%;
    min-height: 2rem;
}
.page-catalog-h5-md dd{
    padding: .3rem .6rem;
}
.page-catalog-h5-md .item a{
    display: block;
    margin: 0 .2rem;
    position: relative;
    min-height: 2rem;
}
.page-catalog-h5-md .item img{
    border-radius: 4px;
}
.page-catalog-h5-md .item .name{
    position: absolute;
    bottom:0;
    height: 18px;
    line-height: 14px;
    left:0;
    font-size: 14px;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index:3;
}
.page-catalog-h5-md .item .bg{
     background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0.6) 100%);
    position: absolute;
    height: 30px;
    overflow: hidden;
    width: 100%;
    bottom:0;
    z-index:3;
    border-radius:0 0 4px 4px;
}
.down-md{
    padding: .6rem .8rem;
    font-size: .8rem;
}
.down-md a{
    text-decoration: underline;
}
.home-nav{
    position: fixed;
    bottom:.5rem;
    left:.5rem;
    z-index:10000;
}
.home-nav .logo{
    box-shadow:0 0 5px #bbb;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

/*新手入门*/
.newHand-bj .hd-fixed {
    position: fixed;
    top:2.2rem;
    width: 100%;
    left:0;
    z-index:10;
}
.newHand-bj {
    background-color: #eee;
}

.newHand-md {
    background-color: #fff;
    margin-top: .4rem;
    padding: 0.5rem .5rem;
}
.index-newHand-list {
    background-color: #eee;
}
.index-newHand-list li a{
    position: relative;
    display: block;
}
.index-newHand-list li .bar{
    position: absolute;
    bottom: .65rem;
    left:.5rem;
    right:2.4rem;
    z-index:4;
}
.index-newHand-list li span{
    display: block;
}
.index-newHand-list li .title{
    color: #fff;
    font-size: .7rem;
}
.index-newHand-list li .sub-title{
    color: #fff;
    font-size: .6rem;
}

.index-newHand-list li .ico-play{
    position: absolute;
    right:0.8rem;
    bottom:.4rem;
    z-index:4;
}
.index-newHand-list li img{
    border-radius: 4px;
    min-height: 2.5rem;
}
.index-newHand-list .item .bg{
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
    height: 2rem;
    overflow: hidden;
    width: 100%;
    bottom:0;
    z-index:3;
    border-radius: 0 0 4px 4px;
}
.newHand-md.item  {
    position: relative;
    margin:0;
}

.newHand-md .item span.ico-play {
    background: url('../images/ico/ico-play-video.png') no-repeat left top;
    background-size: cover;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
}

.newHand-md .item p {
    position: absolute;
    left:10px;
    top:10px;
    font-size: .6rem;
}

/*2015.9.21菜谱详情页面 html规范修改*/
#SmNewsBar  {
    background-color: #ff8f5c;
    position: fixed;
    width: 100%;
    left:0;
    top:0;
    z-index:10000;
    padding:0;
    margin-bottom:30px;
}

.header-wy-gap {
    height: 45px ;
}

a#source {
    color:#b0b0b0;
}

.header-wrap-wy .hd-fixed {
    position: fixed;
    top: 45px;
    left: 0;
    z-index: 10;
}

.SmNewsBar-wrap {
    width:640px;
    height:45px;
    margin:0 auto;
}

.wy-top {
    background-color:#f9f9f9;
}

.video-md {
    padding:0;
}

.DishesView-wrap {
    background-color:#f9f9f9;
}

.header-wy-goods .goods-show {
    background-color:#f9f9f9;
    padding:0 30px 50px 30px;
}

.header-wy-goods .goods-show p {
    margin-bottom:0;
}

.header-wy-goods .goods-show-bar {
    background-color:#f9f9f9;
    padding-top:0;

}

.header-wrap-wy .cook-step-md {
    padding:.2rem 30px;
}

.DishesMaterial-wrap-wy .material-md{
    padding:0.4rem 30px 0.3rem 30px;
}
/*pop loading*/
@-webkit-keyframes ball-spin-fade-loader {
    50% {  opacity: 0.3;  -webkit-transform: scale(0.4);  transform: scale(0.4); }
    100% {  opacity: 1;  -webkit-transform: scale(1);  transform: scale(1); } }
@keyframes ball-spin-fade-loader { 50% {  opacity: 0.3;  -webkit-transform: scale(0.4);  transform: scale(0.4); }
    100% {  opacity: 1;  -webkit-transform: scale(1);  transform: scale(1); } }
.pop-loader{position: fixed;  width:100%;height:100%;z-index: 10001;top:0;left:0;}
.ball-spin-fade-loader {  position: absolute; left: 50%;  top: 50%;  margin-left: -35px;  margin-top: -35px; width: 70px;  height: 70px;  border: 1px solid #fff;  border-radius: 12px;  background-color: rgba(0,0,0,0.8);  }
.ball-spin-fade-loader > div:nth-child(1) {  top: 50px;  left: 25px;  -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;  animation: ball-spin-fade-loader 1s 0s infinite linear; }
.ball-spin-fade-loader > div:nth-child(2) {  top: 42.04545px;  left: 42.04545px;  -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;  animation: ball-spin-fade-loader 1s 0.12s infinite linear; }
.ball-spin-fade-loader > div:nth-child(3) {  top: 25px;  left: 50px;  -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;  animation: ball-spin-fade-loader 1s 0.24s infinite linear; }
.ball-spin-fade-loader > div:nth-child(4) {  top: 8.04545px;  left: 42.04545px;  -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;  animation: ball-spin-fade-loader 1s 0.36s infinite linear; }
.ball-spin-fade-loader > div:nth-child(5) {  top: 0;  left: 25px;  -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;  animation: ball-spin-fade-loader 1s 0.48s infinite linear; }
.ball-spin-fade-loader > div:nth-child(6) {  top: 8.04545px;  left: 8.04545px;  -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;  animation: ball-spin-fade-loader 1s 0.6s infinite linear; }
.ball-spin-fade-loader > div:nth-child(7) {  top: 25px;  left: 0;  -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;  animation: ball-spin-fade-loader 1s 0.72s infinite linear; }
.ball-spin-fade-loader > div:nth-child(8) {  top: 42.04545px;  left: 8.04545px;  -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;  animation: ball-spin-fade-loader 1s 0.84s infinite linear; }
.ball-spin-fade-loader > div {  background-color: #fff;  width: 15px;  height: 15px;  border-radius: 100%;  margin: 2px;  -webkit-animation-fill-mode: both;  animation-fill-mode: both;  position: absolute; }
/*error pop show*/
.errormsg{color:#fff;padding:0 0.4rem;text-align:center;display: none;position:fixed;top:5rem;font-size:0.5rem;height:1.2rem;min-width:10rem;line-height:1.2rem;background-color:rgba(0,0,0,0.4);left:50%;border-radius: 0.5rem;margin-left:-5rem;z-index: 1000000}

/*delete jmobile loading word*/
.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}